<header id="top-header">
    <span class="siteName">
      <a class="cse" href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div class="tools">
      <a class="tt" title="Click to log in" href="/account/login">My Account</a>
    </div>
  </header>