<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CSE Motors!</title>
    <link rel="stylesheet" href="styles.css"> <!-- Si tienes un archivo CSS -->
</head>
<body>
    <section class="main">
        <h1 class="h1w">Welcome to CSE Motors!</h1>
        <img class="main-car" src="images/vehicles/delorean.jpg" alt="DMC Delorean">

        <div class="cuadro">
            <h1 class="Cap">DMC Delorean</h1>
            <div class="ll">
                <p>3 Cup holders</p>
                <p>Superman doors</p>
                <p>Fuzzy dicel</p>
            </div>
            <div class="Ow">
                <a class="Oww" href="#hola">Own Today</a>
            </div>
        </div>

        <div class="abajo">
            <div class="desription">
                <h1>Delorean Upgrades</h1>
                <div class="Flux">
                    <img class="imgg" src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    <a class="ub" href="">Flux Capacitor</a>
                </div>
                <div class="Flame">
                    <img class="imgg" src="images/upgrades/flame.jpg" alt="Flame Decals">
                    <a class="ub" href="">Flame Decals</a>
                </div>
                <div class="Bum">
                    <img class="imgg" src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <a class="ub" href="">Bumper Stickers</a>
                </div>
                <div class="hub">
                    <img class="imgg" src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <a class="ub" href="">Hub Caps</a>
                </div>
            </div>
            <div class="lil">
                <h1 class="DMC">DMC Delorean Reviews</h1>
                <p>◾ "So fast it’s almost like traveling in time". (4/5)</p>
                <p>◾ "Coolest ride on the road". (4/5)</p>
                <p>◾ "I’m feeling McFly!"</p>
                <p>◾ "The most futuristic ride of our day" (4.5/5)</p>
                <p>◾ "80’s living and love it!"</p>
            </div>
        </div>
    </section>
</body>
</html>